.buttons-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.profile-button {
    background-color: #70ABAF;
    border-radius: 5px;
    padding: 2px, 10px;
    border: 0px;
    margin: 5px;
}

.profile-button:hover {
    background-color: #F0F7F4;
}

.text-lightblue{
    color: #F0F7F4;
}