.posts-wrapper {
    padding: 3%;
}

.sidebar-wrapper {
    background-color: #32292F;
    padding: 2%;
    overflow: auto;
    border-left: 3px solid #FFA69E;
    border-right: 3px solid #FFA69E;
    border-bottom: 3px solid #FFA69E;
    border-radius: 3px;
}

.post-style{
    background-color: #F0F7F4;
    border: 3px solid #70abaf;
}

.post-style:hover{
    background-color: #70abaf;
}