

.sidebar-wrapper {
    background-color: #32292F;
    padding: 2%;
    overflow: auto;
    border-left: 3px solid #FFA69E;
    border-right: 3px solid #FFA69E;
    border-bottom: 3px solid #FFA69E;
    border-radius: 3px;
}



.post-style:hover{
    background-color: #70abaf;
}